@import 'fontface.css';

/*div:hover {
    color: red;
}
/* CURRENTLY IN: styles/main.css */


/*.plainBottom {
    text-decoration: none;
    color: #fcd600;
    left: 492px;
    top: 23px;
    background-color: #f2f1e9;
    height: 100px;
   padding: 10px;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    hover: color; red;
    font-style: bold;


}*/

.plainBottom {
    text-decoration: none;
    color: #fcd600;
    left: 423px;
    top: 16px;
    background-color: #f2f1e9;
    /* height: 100px; */
    padding: 36px;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.plainBottom:hover {
    color: orange;
}

.background {
    background-color: #f2f1e9;
    overflow-x: hidden;
    position: relative;
    font-family: "freight-sans-pro";
    /*color: #5c3d2e; */
    color: black;
}

.fullscreen__image--container {
    /*border: 1px solid black; */
    margin: 0 auto;
    position: relative;
    background: url('../assets/FinalImageResized_2.png') no-repeat;
    margin: 0 auto;
    width: 1024px;
    height: 4446px;
    /*background-color: #f2f1e9 */
}

.fullscreen__image--building {
    width: 100%;
    /*border: 1px solid black; */
    background-image: url("https://dl.dropboxusercontent.com./s/8eafwqbw0ku5fcx/ImgFix1B.png?dl=0") no-repeat center center fixed;
}


/*.textbox--no1 {
 width: 400px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    position: absolute;
    top: 92%;
    left: 400px; 
    padding: 10px;
    font-size: 30px

}
*/


/*.textbox--no1A {
    width: 263px;
    height: 64px;
    /* border: 1px solid blue; 
    box-sizing: border-box;
    position: relative;
    top: 94%;
    left: 432px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #fcd600;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */


/*HYPOTHETICAL TEXT BOX
.textbox--3 {
    width: 200px;
    border-radius: 12px;
    height: 42px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 59%;
    left: 76%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */

.titleGif {
    top: 267px;
    left: 196px;
    width: 100%;
    height: 201px;
    ;
    position: absolute;
    align-content: center;
}

.textbox--no1A {
    width: 214px;
    border-radius: 12px;
    height: 28px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 94%;
    left: 44%;
    padding: 20px;
    font-style: italic;
    /*font-weight: medium;*/
    font-size: 20px;
    z-index: 10;
}


/*.textbox--no1A {
    width: 100%;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    position: absolute;
    top: 82%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #fcd600;
    border-radius: 25px;

} */


/*.textbox--no2 {
 width: 400px;
    height: 100px;

    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 440px; 
    padding: 10px;
    font-size: 30px;

}*/


}

/*
.textbox {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    left: 150px; 
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27);


}
*/

/*. OLD -- textbox--2 {
    width: 200px;
    border-radius: 25px;
    height: 80px;
    border: 5px #f2cc00;
    background-color: #fcd600;;
    position: absolute;
    top: 65%;
    left: 1%; 
    padding: 20px;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27);
}*/
.tBox--2 {
    width: 200px;
    border-radius: 12px;
    height: 50px;
    /* border: 2px solid red;*/
    
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 50%;
    left: 76%;
    padding: 20px;
    font-style: bold italic;
    font-size: 20px;
    z-index: 10;
}
.textbox--3 {
    width: 200px;
    border-radius: 12px;
    height: 25px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 1%;
    padding: 20px;
    font-style: bold italic;
    font-size: 20px;
    z-index: 10;
    z-index: 10;
}
.textbox--4 {
    width: 200px;
    border-radius: 12px;
    height: 50px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 59%;
    left: 76%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}
.textbox--5 {
    width: 200px;
    border-radius: 12px;
    height: 50px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 46%;
    left: 8%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}
.textbox--6 {
    width: 200px;
    border-radius: 12px;
    height: 50px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 80%;
    left: 76%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}
.tBox--6 {
    width: 200px;
    border-radius: 12px;
    height: 50px;
    border: 5px solid #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 20%;
    left: 76%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}
.textbox-6 {
    width: 200px;
    /*height: 50px;*/
    /* border: 5px solid #f2cc00;  */
    
    background-color: #fcd600;
    border-radius: 12px;
    opacity: 0.8;
    position: absolute;
    top: 28%;
    left: 64%;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    z-index: 10;
}
.textbox-7 {
    width: 212px;
    border-radius: 12px;
    height: 50px;
    /*  border: 5px solid #f2cc00;*/
    
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}
.textbox-second {
    width: 212px;
    border-radius: 12px;
    height: 50px;
    /*  border: 5px solid #f2cc00;*/
    
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 84%;
    left: 20%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;
    /* box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.27); */
}

/*.textbox-7 {
    border: 1px solid black;
}
*/

/*.textbox--2 {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    position: absolute;
    top: 65%;
    left: 10px; 
    padding: 10px;
    font-size: 25px;
} */

/*.textbox--3 {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    font-size: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 220%;
    left: 60px; 
    padding: 10px;
}*/

/*.textbox--bottom {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 60px; 
    padding: 10px;
}*/
.textbox__topMessage {
    width: 500px;
    height: 200px;
    /*border: 1px solid blue;*/
    
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 275px;
    padding: 30px;
    font-size: 80px;
    font-style: italic;
}
.textbox__scrollToBottom {
    width: 275px;
    height: 50px;
    border: 1px solid blue;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 400px;
    padding: 30px, 30px, 30px, 30px;
    text-align: justify;
    font-size: 15px;
}
.gifContainer1 {
    width: 100%;
    position: absolute;
}

/*First attempt .gif-show  {
    position: absolute;
    opacity: 0;
    border: 2px solid blue;
    height: 200px;
}  */

/* BULIDING ANIMATIONS */
.gif-show--elf {
    position: absolute;
    left: 277.7px;
    top: 3930px;
    opacity: 1;
    z-index: 5;
}

/*.gif-show--elf  {
    position: absolute;
    left: 277.7px;
    top: 3930px;
    background-image: url('');
    border: 2px solid red;
    opacity: 0;
    z-index: 5;
    
}*/
.gif-show--snake {
    position: absolute;
    left: 410.4px;
    top: 2504px;
    opacity: 1;
    z-index: 5;
}
.gif-show--plant {
    position: absolute;
    /* border: 2px solid red;*/
    
    left: 652px;
    top: 3004px;
    opacity: 1;
    z-index: 5;
}
.gif-show--girlHat {
    position: absolute;
    left: 265.4px;
    top: 3294px;
    opacity: 1;
    z-index: 5;
}
.gif-show--manDrawing {
    position: absolute;
    left: 391.4px;
    top: 2936px;
    opacity: 1;
    z-index: 10;
}
.gif-show--doggie {
    position: absolute;
    left: 574px;
    top: 3925px;
    opacity: 1;
    z-index: 5;
}
.gif-show--music {
    position: absolute;
    /* border: 2px solid red;*/
    /* border: 2px solid red; */
    
    left: 298px;
    top: 2508px;
    opacity: 1;
    z-index: 10;
}

/* BUILDING SECTIONS */
.gif-show--buildingTop {
    position: absolute;
    left: 404.4px;
    top: 2054px;
    opacity: 1;
    z-index: 5;
}
.gif-show--buildingMidLights {
    position: absolute;
    left: 335.4px;
    top: 2456px;
    opacity: 1;
    z-index: 5;
}
.gif-show--buildingBotLights {
    position: absolute;
    left: 301.4px;
    top: 2846px;
    opacity: 1;
    z-index: 5;
}

/*.gif-show--guyWiggle {
    position: absolute;
    left: 377px;
    top: 2237px;
    opacity: 0;
    z-index: 5;
}*/
.gif-show--guyWiggle {
    position: absolute;
    left: 377px;
    top: 2237px;
    opacity: 1;
    z-index: 5;
}

/* STARS 

/*.gif-show--star1{
    position: absolute;
    left: 283.4px;
    top: 753px;
    opacity: 1;
    z-index: 5;

}

.gif-show--star2  {
    position: absolute;
    left: 700.4px;
    top: 86px;
    opacity: 1;
    z-index: 5;


}

.gif-show--star3  {
    position: absolute;
    left: 560.4px;
    top: 958px;
    opacity: 1;
    z-index: 5;
*/

/*.gif-show--star3A  {
    position: absolute;
    left: 560.4px;
    top: 958px;
    opacity: 1;
    z-index: 5;
    /*border: 2px solid black;

}*/
.gif-show--star4 {
    position: absolute;
    left: 560.4px;
    top: 958px;
    opacity: 1;
    z-index: 5;
}
.gif-show--star5 {
    position: absolute;
    left: 183.4px;
    top: 770px;
    opacity: 1;
    z-index: 5;
}
.gif-show--star6 {
    position: absolute;
    /*border: 2px solid blue;
*/
    
    left: 704.4px;
    top: 94px;
    opacity: 1;
    z-index: 5;
}
.gif-show--star7 {
    position: absolute;
    /*border: 2px solid blue;*/
    
    left: 67%;
    top: 11%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star8 {
    position: absolute;
    left: 81%;
    top: 20%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star9 {
    position: absolute;
    left: 49%;
    top: 31%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star10 {
    position: absolute;
    left: 12%;
    top: 7%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star11 {
    position: absolute;
    /* border: 2px solid blue; */
    
    left: 14%;
    top: 10%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star12 {
    position: absolute;
    /* border: 2px solid blue;*/
    
    left: 87%;
    top: 30%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star13 {
    position: absolute;
    left: 77%;
    top: 37%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star14 {
    position: absolute;
    /*border: 2px solid red;*/
    
    left: 16%;
    top: 25%;
    opacity: 1;
    z-index: 5;
}
.gif-show--star15 {
    position: absolute;
    left: 26%;
    top: 35%;
    opacity: 1;
    z-index: 5;
}

/* width: 200px;
    border-radius: 12px;
    height: 50px;
    border: 5px #f2cc00;
    background-color: #fcd600;
    opacity: .8;
    position: absolute;
    top: 46%;
    left: 8%;
    padding: 20px;
    font-style: italic;
    font-size: 20px;
    z-index: 10;*/
/*.mobileTextbox {
    width: 100px;
    background-color: #fcd600;
    border-radius: 12px;
    font-size: 20px text-align: center;
    display: none;
    margin: 0 auto;
    position: absolute;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.mobile__image--container {
    display: none;
}*/

/*.mobile__image--container {
    display: none;
    margin: 0 auto;
    position: relative;
    background: url('../assets/iphoneBG1.png') no-repeat;
    margin: 0 auto;
    width: 1024px;
    height: 4446px;

}
*/
@media screen and (max-width: 736px) {
    .fullscreen__image--container {
        display: none
    }
    

    .mobile__image--container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        jusitfy-content: center;
        /*background: url('../assets/mobileBG2.png') center center no-repeat;*/
        /*margin: 0 auto;*/
        /*background: url('../assets/mobileBG2.png') center center no-repeat;*/
        background: url('../assets/doggiev5.gif') center center;
        border: 2px solid yellow;
        height: 100%;
        width: 100%;

        
    }
    /* need two child containers to make it perfectly center
    on both the vertical and horizontal axis
    */
   
    .mobileTextBox {
        background-color: rgba(255,255,255,0.7);
        flex: 1 1 auto;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        border: 0.5em solid green;
        padding: 1em;
        /*background: url('../assets/dog') center center no-repeat;*/
    }
    
    .mobileTextbox__content {
        background-color: rgba(255,255,255,0.9);
        align-self: center;
        jusitfy-content: center;
        margin: 0 auto;
        border: 0.5em solid white;
        padding: 1em;
    }
    
    
    
    /*.mobileTextbox {
        display: inline-block;
    }*/ 
}

/*
 background: url('../assets/iphoneBG1.png') no-repeat fixed center;*/
